# work dirs
wkt-*
dumps
data
html
logs
# misc
tmp
@*
*.ts
*.swp
*.tys
*.items
*.log.gz
items.csv
props.csv
props.saved.csv
props.json
typescript
P*.csv
P*.tsv
Q*
PDS_backing.pages
latest
index.html
P31_cnt
authctrl_P31_cnt.tsv
